<header class="bg-dark fixed-top navbar-dark navbar-expand-md">
    <nav class="bg-dark navbar navbar-dark navbar-expand-lg" data-bs-theme="light">
        <div class="container-fluid"><a href="/static_pages/home.html" id="logo" class="navbar-brand text-decoration-none">sample app</a>
            <button id="hamburger" class="navbar-toggler" type="button"><span class="navbar-toggler-icon"></span>
            </button>
            <div id="navbar-menu" class="collapse navbar-collapse">
                <ul class="ms-auto navbar-nav">
                    <li class="nav-item"><a href="/static_pages/home.html" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item"><a href="#" class="nav-link">Help</a>
                    </li>
                    <li class="nav-item"><a href="#" class="nav-link">Log in</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>