$light-gray: #777;

body {
    padding-top: 60px;
}

section {
    overflow: auto;
}

.center {
    text-align: center;

    h1 {
        margin-bottom: 10px;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1;
}

h1 {
    font-size: 3em;
    letter-spacing: -2px;
    margin-bottom: 30px;
    text-align: center;
}

h2 {
    font-size: 1.2em;
    letter-spacing: -1px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: normal;

    // color: #777777;
    color: $light-gray;
}

p {
    font-size: 1.1em;
    line-height: 1.7em;
}

#logo {
    float: left;
    margin-right: 10px;
    font-size: 1.7em;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding-top: 9px;
    font-weight: bold;

    &:hover {
        color: #ffffff;
        text-decoration: none;
    }
}

footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid #eaeaea;

    // color: #777;
    color: $light-gray;

    a {
        color: #555;

        &:hover {
            color: #222;
        }
    }

    small {
        float: left;
    }

    ul {
        float: right;
        list-style-type: none;

        li {
            float: left;
            margin-left: 15px;
        }
    }
}

/* sidebar */
aside {
    section.user-info {
        margin-top: 20px;
    }

    section {
        margin-top: 20px;
        padding: 10px 0px;

        &:first-child {
            border: 0;
            padding-top: 0px;
        }

        span {
            display: block;
            margin-bottom: 3px;
            line-height: 1;
        }

        h1 {
            font-size: 1.4em;
            text-align: left;
            letter-spacing: -1px;
            margin-bottom: 3px;
            margin-top: 0px;
        }
    }
}

.gravatar {
    float: left;
    margin-right: 10px;
}

input,
textarea {
    border-left: 1px solid #bbbbbb;
    width: 100%;
    margin-bottom: 15px;
    box-sizing: border-box;
}

input {
    height: auto;
}